<!DOCTYPE html>
<html>
<head>
    <title>Gobblet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <h1 id="message"></h1>
    <div class="gamespace">
        <div class="black-side">
            <div class="home-space">
                <div id="114" class="black-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="113" class="black-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="112" class="black-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="111" class="black-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
            <div class="home-space">
                <div id="124" class="black-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="123" class="black-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="122" class="black-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="121" class="black-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
            <div class="home-space">
                <div id="134" class="black-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="133" class="black-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="132" class="black-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="131" class="black-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
        </div>

        <div class="board">
            <!-- Space IDs: idx 0 = row idx, idx 1 = col idx -->
            <div id="00" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="01" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="02" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="03" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="10" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="11" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="12" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="13" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="20" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="21" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="22" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="23" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="30" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="31" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="32" class="tan-space" onclick="movePiece(this.id)"></div>
            <div id="33" class="tan-space" onclick="movePiece(this.id)"></div>
        </div>

        <div class="white-side">
            <div class="home-space" id="home1">
                <!-- Piece ids: idx 0 = ai (0 = player 1, 1 = ai), idx 1 = home stack idx(), idx 2 = piece size (4-1) -->
                <div id="014" class="white-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="013" class="white-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="012" class="white-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="011" class="white-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
            <div class="home-space" id="home2">
                <div id="024" class="white-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="023" class="white-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="022" class="white-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="021" class="white-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
            <div class="home-space" id="home3">
                <div id="034" class="white-circle xl-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="033" class="white-circle l-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="032" class="white-circle m-circle" onclick="selectPiece(event, this.id)"></div>
                <div id="031" class="white-circle s-circle" onclick="selectPiece(event, this.id)"></div>
            </div>
        </div>

        <button onclick="deselectAll()">Deselect All</button>
    </div>
</body>
</html>
